/*设置导航轮播图样式*/
.content .rM{
    width: 1226px;
    height: 460px;
    margin-right: auto;
    margin-left: auto;
}
.rM{
    background:  url("../images/index_images/mi9-01.jpg") 0 0 no-repeat;
    background-size: cover;
}
/*设置左侧导航*/
.rM .rM_left{
    float: left;
    width: 234px;
    background-color: rgba(0,0,0,0.5);
    font-size: 15px;
}
.rM_left ul{
    padding: 20px 0;
}
.rM_left ul>li:hover{
    background-color: #ff6700;
}
.rM_left ul>li>a{
    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    color: #fff;
}
/*设置轮播图*/
.rM .rM_right{
    float: right;
    width: 992px;
    height: 460px;
    position: relative;
}
.rM_right>#pre{
    width: 41px;
    height: 69px;
    background:  url("../images/index_images/icon-slides.png") -84px 50% no-repeat;
    position: absolute;
    top:195px;
    left:0;
}
.rM_right>#pre:hover{
    background-position:  0 50%;
}
.rM_right>#next{
    width: 41px;
    height: 69px;
    background:  url("../images/index_images/icon-slides.png") -125px 50% no-repeat;
    position: absolute;
    top:195px;
    right:0;
}
.rM_right>#next:hover{
    background-position:  -42px 50%;
}
.rM_right>#pointList{
    list-style: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.rM_right>#pointList>li{
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 100%;
    float:left;
    margin-left: 14px;
    border: 2px solid rgba(255,255,255,0.6);
}
#pointList>.active{
    background-color: rgba(255,255,255,0.8) !important;
}
/***************************************************************************************************/
/*设置home_row*/
.home_row{
    width: 1226px;
    height: 170px;
    margin: 15px auto;

    /*background-color: yellow;*/
}
.home_row .channel_list{
    float: left;
    width: 234px;
    height: 100%;
    background-color: #616161;
}
.channel_list>ul>li{
    float: left;
    width: 76px;
    height: 82px;
    padding: 0 1px;

    text-align: center;
}
.channel_list>ul>li>a{
    display: block;
    padding-top: 18px;
    width: 70px;
    height: 64px;
    color: white;
    opacity: 0.5;
}
.channel_list>ul>li>a>img{
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;

}
.channel_list>ul>li>a:hover{
    opacity: 1;

}

.home_row .channel_3{
    float: right;
    height: 100%;
}
.channel_3>ul>li{
    float: right;
    width: 316px;
    height: 170px;
    margin-left: 14px;
}
.channel_3>ul>li>a>img{
    width: 316px;
    height: 170px;
}
