/*设置header样式*/
header{
    width: 1130px;
    margin: 0 auto;
}
header .h_logo{
     width: 200px;
     height: 98px;
     background: url("../images/login_images/mistore_logo.png") 0 0 no-repeat;
 }
.h_logo a{
    display: block;
    height: 98px;
}

/*设置内容（登录注册）样式*/
.content{
    width: 100%;
    height: 588px;
    background-image: url("../images/login_images/e8201bfbb8c9d474a48da76f7d81a5c7.jpg");
    background-position: center;
    color: #333333;
    overflow: hidden;
}
.content a{
    display: block;
    width: 100%;
    height: 588px;
}
.login_content{
    margin: 30px 80px 0 0;
    float: right;
    width: 410px;
    height: 580px;
    background-color: #fff;
}
.login_content .nav_tabs_panel{
    padding: 27px 0 24px;

    text-align: center;
    font-size: 24px;
    color: #666;
    display: flex;
}
.nav_tabs_panel a{
    width: 96px;
    height: 27px;
}
.nav_tabs_panel a:nth-child(1){
    padding-left: 68px;
}
.nav_tabs_panel .line{

    text-align: center;
    height: 27px;
    margin: 0 42px 0 42px;
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
}
.nav_tabs_panel a:nth-child(1),.nav_tabs_panel a:hover{
    color: #ff6700;
}

/*tabs_icon1：设置登录样式*/
.tabs_icon1{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
}
.tabs_icon1 .login_area{
    width: 348px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
/*设置输入框样式*/
.login_input input{
    width: 316px;
    height: 22px;
    line-height: 22px;

    font-size: 14px;

    padding: 13px 16px 13px 14px;
    border: 1px solid #cccccc;

    margin-bottom: 14px;
}
/*设置登录按钮样式*/
.btn_lg button{
    width: 346px;
    height: 48px;
    line-height: 48px;
    text-align: center;

    color: white;

    border: 1px solid #cccccc;
    background-color: #ff6700;
    margin-top: 15px;
}
/*设置other_panel*/
.login_area .other_panel{

}
.other_panel .otherLogin{
    height: 150px;
    width: 100%;
    font-size: 14px;
    padding-top: 10px;
}
.otherLogin p{
    float: left;
    display: inline-block;
    color: #ff6700;
}
.otherLogin li{
    float: right;
    color: #999999;
}
fieldset{
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
}
legend{
    color: #bbb;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
}
.login_links{
    margin-top: 3px;

}


/*tabs_icon2：设置扫码登录样式*/
.tabs_icon2{
    display: none;
    text-align: center;
    color: #999999;
}
.tabs_icon2 img{
    margin: 100px 0 15px;
}
.tabs_icon2 p{
    height: 18px;
    line-height: 18px;
    font-size: 14px;
}
.tabs_icon2 p span{
    color: #ff6700;
}

/*设置footer样式*/
footer{

    padding: 100px 0 17px;

    background-color: #F5f5f5;

    text-align: center;
    font-size: 14px;
}
footer .f_link{

}
footer .f_link a{
    margin: 0 5px;
}
.f_link a:nth-child(1),.f_link a:hover{
    color: #616161;
}
footer p{
    padding: 10px;
}

